
.container[data-v-d6bd7532] {
  width: 100%;
  height: 100%;
}
.echarts-header[data-v-d6bd7532] {
  padding: 10px 0 0;
  font-size: 12px;
  font-weight: bold;
  color: #0c1e5b;
}

.p20[data-v-cb1c66ed] {
  padding: 20px;
}
.title[data-v-cb1c66ed] {
  margin-top: 40px;
}
